# Node & Dependencies
node_modules/
npm-debug.log*

# Foundry & Hardhat builds
chain/out/
chain/cache/
chain/cache_hardhat/
chain/artifacts/
chain/typechain-types/
chain/broadcast/

# Ephemeral Deployments
chain/deployments/localhost.json

# Environment
.env